<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Nome</th>
      <!-- <th>sobrenome</th> -->
      <th>sexo</th>
      <!-- <th>nacionalidade</th> -->
      <th>data Nascimento</th>
      <th>cidade</th>
      <!-- <th >estado</th> -->
      <th>email</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of clientes">
      <td>{{ item.nome + " " + item.sobrenome }}</td>
      <!-- <td>{{ item.sobrenome }}</td> -->
      <td>{{ item.sexo }}</td>
      <!-- <td>{{ item.nacionalidade }}</td> -->
      <td>{{ item.dataNascimento |  date:'dd/MM/yyyy' }}</td>
      <td>{{ item.cidade + ", " + item.estado}}</td>
      <!-- <td>{{ item.estado }}</td> -->
      <td>{{ item.email }}</td>
    </tr>
  </tbody>
</table>

<nav aria-label="Paginação">
  <ul class="pagination">
    <li
      class="page-item"
      *ngIf="pageAtual > getRange(tabelaDetails.totalPages - 1)[0]"
    >
      <a
        class="page-link"
        (click)="navegarParaPaginaAnteriorTabela(pageAtual)"
        aria-label="Anterior"
      >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <ng-container *ngFor="let page of getRange(tabelaDetails.totalPages)">
      <li class="page-item">
        <a class="page-link" (click)="navegarParaPaginaTabela(page)">{{
          page
        }}</a>
      </li>
    </ng-container>

    <li
      class="page-item"
      *ngIf="pageAtual < getRange(tabelaDetails.totalPages - 1).length"
    >
      <a
        class="page-link"
        (click)="navegarParaProximaPaginaTabela(pageAtual)"
        aria-label="Próximo"
      >
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>
